<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond $1 !^(index\.php|images|css|js|robots\.txt|favicon\.ico)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ ./index.php/$1 [L,QSA] 
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php 
</IfModule>
<ifModule mod_headers.c>
    Header always set Access-Control-Allow-Origin: "*"
    Header always set Access-Control-Allow-Methods "POST, GET, PUT, DELETE, OPTIONS"
    Header always set Access-Control-Allow-Headers "Accept, X-Requested-With, Cache-Control, content-type, Access-Control-Request-Method, Authorization"
</ifModule>